#off-canvas {
    width: 70vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -70vw;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    z-index: 3;
    transition: left .3s ease;
    color: white;
}

#off-canvas[open] {
    left: 0;
}

#off-canvas h2 {
    font-family: "Poppins";
    text-align: center;
}

#off-canvas ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#off-canvas li {
    font-weight: 600;
    font-size: 1em;
    padding: 20px;
    padding-left: 20px;
}

#off-canvas li:last-child {
    text-align: center;
}

#off-canvas li:last-child a {
    justify-content: center;
}

#off-canvas li.activated {
    font-weight: 900;
    background-color: rgba(0, 0, 100, .2);
}

#off-canvas li a {
    display: flex;
    align-items: center;
}

#off-canvas li a .badge {
    margin-right: 10px;
}

#off-canvas img {
    position: absolute;
    bottom: 1%;
    width: 80%;
    margin-left: 10%;
    z-index: -1;
}

#page {
    position: fixed;
    top: 0;
    left: 0;
    transition: left .3s ease;
}

#page[open] {
    left: 70vw;
}

nav {
    width: 100vw;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    position: relative;
}

nav button {
    background: none;
    font-size: 2em;
}

nav button:hover {
    box-shadow: none;
    transform: scale(1);
}

nav h1 {
    color: white;
}
