body {
    background-color: #EEE;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#off-canvas {
    width: 70vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -70vw;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    z-index: 3;
    transition: left .3s ease;
    color: white;
}

#off-canvas[open] {
    left: 0;
}

#off-canvas h2 {
    font-family: "Poppins";
    text-align: center;
}

#off-canvas ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#off-canvas li {
    font-weight: 600;
    font-size: 1em;
    padding: 20px;
    padding-left: 20px;
}

#off-canvas li:last-child {
    text-align: center;
}

#off-canvas li:last-child a {
    justify-content: center;
}

#off-canvas li.activated {
    font-weight: 900;
    background-color: rgba(0, 0, 100, .2);
}

#off-canvas li a {
    display: flex;
    align-items: center;
}

#off-canvas li a .badge {
    margin-right: 10px;
}

#off-canvas img {
    position: absolute;
    bottom: 1%;
    width: 80%;
    margin-left: 10%;
    z-index: -1;
}

#page {
    position: fixed;
    top: 0;
    left: 0;
    transition: left .3s ease;
}

#page[open] {
    left: 70vw;
}

#list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: min-content;
    overflow-y: auto;
    height: calc(100vh - 170px);
    padding: 15px;
}

@media (max-width: 1400px)
{
    #list-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1000px)
{
    #list-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px)
{
    #list-container {
        grid-template-columns: 1fr;
    }
}

.list {
    background-color: white;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
    width: 100%;
    transition: all .3s ease;
    cursor: pointer;
    box-sizing: border-box;
}

.list:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.list h3 {
    margin: 10px 0px;
}

.list p {
    margin: 0px;
}
