body {
    background-color: #EEE;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#off-canvas {
    width: 70vw;
    max-width: 500px;
    height: 100vh;
    min-height: -webkit-fill-available;
    position: fixed;
    top: 0;
    left: -70vw;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    z-index: 3;
    transition: left .3s ease;
    color: white;
}

#off-canvas[open] {
    left: 0;
}

#off-canvas h2 {
    font-family: "Poppins";
    text-align: center;
}

#off-canvas ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#off-canvas li {
    font-weight: 600;
    font-size: 1em;
    padding: 20px;
    padding-left: 20px;
}

#off-canvas li.activated {
    font-weight: 900;
    background-color: rgba(0, 0, 100, .2);
}

#off-canvas li a {
    display: flex;
    align-items: center;
}

#off-canvas li a .badge {
    margin-right: 10px;
}

#off-canvas img {
    position: absolute;
    bottom: 1%;
    width: 80%;
    max-width: 400px;
    margin-left: 10%;
    z-index: -1;
}

#page {
    position: fixed;
    top: 0;
    left: 0;
    transition: left .3s ease;
    width: 100vw;
    height: 100%;
    min-height: -webkit-fill-available;
}

#page[open] {
    left: min(70vw, 500px);
}

#list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    overflow-y: auto;
    height: auto;
    padding: 15px;
    grid-auto-rows: minmax(min-content, max-content);
}

@media (max-width: 1400px)
{
    #list-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1000px)
{
    #list-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px)
{
    #list-container {
        grid-template-columns: 1fr;
    }
}

.list {
    background-color: white;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
    width: 100%;
    transition: all .3s ease;
    cursor: pointer;
    box-sizing: border-box;
    min-width: 0;
    overflow: hidden;
}

.list:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.list h3 {
    margin: 10px 0px 0px 0px;
    font-size: 1.2em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list h5 {
    margin: 5px 0px 20px 0px;
    font-weight: 400;
    font-size: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list p {
    margin: 0px;
    font-size: .8em;
    max-height: 200px;
    font-family: 'Montserrat';
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-line;
}

.list li {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-line;
}

#no-list {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#no-list img {
  width: 30%;
  min-width: 400px;
  animation: fadein 1s ease;
}

#no-list span {
  font-size: 2em;
  margin-bottom: 20px;
  animation: fadein 1s ease;
}

.more-items > span {
  margin-top: 10px;
}

.modal .content {
  display: flex;
  align-items: center;
}

@media (max-width: 1000px) {
  .modal .content {
    flex-direction: column;
  }
}
.modal .content > div {
  width: 100%;
}

.modal .content img {
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
  animation: float 5s ease-in-out 0s infinite;
}

.modal .content button {
  margin: 15px auto;
  display: flex;
}
