#page {
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
}

#add-button {
    margin: 20px auto 0px auto;
}

#text {
  white-space: pre-line;
}

h1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

li {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

li > span {
  font-size: 1.2em;
}
